[Unit]
Description=FairShare Scheduling service for Opennebula
After=syslog.target
After=network.target
After=remote-fs.target
#After=opennebula.service
#BindTo=opennebula.service

[Service]
Type=simple
Group=fassadmin
User=fassadmin
PermissionsStartOnly=true

ExecStart=/usr/bin/fassd -f
# File locations must exist
ExecStartPre=/bin/mkdir -p /var/log/fass
ExecStartPre=/bin/mkdir -p /var/run/fass
ExecStartPre=/bin/mkdir -p /var/lock/fass
ExecStartPre=/bin/mkdir -p /var/lib/fass
ExecStartPre=/bin/chown fassadmin:fassadmin /var/log/fass
ExecStartPre=/bin/chown fassadmin:fassadmin /var/run/fass
ExecStartPre=/bin/chown fassadmin:fassadmin /var/lock/fass
ExecStartPre=/bin/chown fassadmin:fassadmin /var/lib/fass
ExecStartPre=/bin/chown fassadmin:fassadmin /etc/fass/fassd.conf
ExecStartPre=/usr/sbin/logrotate -s /tmp/logrotate_fass.state -f /etc/logrotate.d/fass
ExecStop=/bin/kill -TERM $MAINPID
PIDFile=/var/run/fass/fass.pid

[Install]
WantedBy=multi-user.target
